<!--<button ng-click="import()">Import CSV</button>-->
<csv-import
        content="csv.content"
        header="csv.header"
        header-visible="csv.headerVisible"
        separator="csv.separator"
        separator-visible="csv.separatorVisible"
        result="csv.result"
        encoding="csv.encoding"
        encoding-visible="csv.encodingVisible"
        ></csv-import>


{{csv.result}}

<div class=" input-container">
Jan
<input type="text" ng-model="workingDaysProfile.jan"/>
</div>
<div class="input-container">
    Feb
    <input type="text" ng-model="workingDaysProfile.feb"/>
</div>

<div class="input-container">
    March
    <input type="text" ng-model="workingDaysProfile.mar"/>
</div>
<div class="input-container">
    Jan
    <input type="text" ng-model="workingDaysProfile.apr"/>
</div>

<csv-import
        content="csv2.content"
        header="csv2.header"
        header-visible="csv2.headerVisible"
        separator="csv2.separator"
        separator-visible="csv2.separatorVisible"
        result="csv2.result"
        encoding="csv2.encoding"
        encoding-visible="csv2.encodingVisible"></csv-import>
{{csv2.result}}
